.Основа {
font-size: 1.5vw;
color: black;
margin-left: 3%;
margin-right: 3%;
margin-top: 1%;
}


body {
background: #c7b39b url(../картинки/фон.png);
-moz-background-size: 100%;
-webkit-background-size: 100%;
-o-background-size: 100%;
padding:0px;
margin: 0px;
background-size: cover;
background-attachment: fixed;
background-repeat: repeat-x;
background-position: left top;
/* Отключение возможности выделения */
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

/*Ссылки*/
A:link { text-decoration: none; /* Убирает подчеркивание для ссылок */
color: black; /* Цвет ссылки */
}
A:visited { text-decoration: none;
color: black; /* Цвет ссылки */
}
A:active { text-decoration: none;
color: black; /* Цвет ссылки */
}
A:hover {
text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее */
color: black; /* Цвет ссылки */
}

hr {height: 0.1vw;}
